* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-title {
  text-align: center;
}

.game-options {
  display: flex;
  flex-direction: row;
  padding: 120px;
  justify-content: center;
}

.game-options h3 {
  padding: 30px;
}