* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 20px;
}

.game-options {
  display: flex;
  flex-direction: row;
  padding: 80px;
  justify-content: center;
}

.hands {
  padding: 20px;
  border: solid 4px black;
  border-radius: 50%;
  margin: 20px;
}

.option {
  padding: 30px;
}

.option:hover {
  color: blue;
  cursor: pointer;
  transform: scale(1.2);
}

.btn p {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
}